*{
    background-color: aquamarine;
    margin: 5px;
    padding: 10px;

}

p {
    font-weight: bold;
    color: brown;

}

.RestrantMenu {
    text-align: center;
}

button {
    color:black;
    background-color: yellow;
    border: 1xp solid red;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: azure;
}

div {
    border: 1px solid black;
    margin: 25px 50px 75px 10px;
    background-color: rgb(193, 222, 230);
}

#Webdev {
    width: 200px;
    height: 2px;
    border: 15px solid rgb(117,0,128);
    padding: 20px;
    margin: 10px;
}

.relative-box2 {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: rgb(128, 73, 0);
    top: 20px;
    left: 20px;
}

.static-box1 {
    position: static;
    width: 200px;
    height: 100px;
    background-color: green;
    top: 20px;
    left: 20px;
}


